body,
html {
  height: 100%;
  margin: 0;
}

.bgimg {
  background-image: url("https://www.w3schools.com/w3images/forestbridge.jpg");
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
}

.topleft {
  position: absolute;
  top: 0;
  left: 16px;
}

.bottomleft {
  position: absolute;
  bottom: 0;
  left: 16px;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

hr {
  margin: auto;
  width: 40%;
}

.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.social-media > a > img {
  padding: 5px;
}

@media (min-width:320px)  { 
    .c-s{
            font-size: 74px;
            margin-bottom: 10px;
    }

    .social-media{
        margin-top: 20px;
    }


    .logo{
        width: 70px;
        height: 70px;
    }

    .f-logo{
        border-radius: 8px; object-fit: cover
    }
 }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
